# Build & distribution
__pycache__/
build/
dist/
.venv/
*.egg-info/
uv.lock

# test
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage

# editors & OS
.vscode/
*.DS_Store
.idea/

# secrets
.pypi_token
