include LICENSE README.md CHANGELOG.rst requirements.txt runtime.txt Procfile

graft src
graft schemas
graft templates
graft rulings
prune tests
prune static
exclude Makefile
exclude bot-example.png
exclude dark-pack.png
exclude .coverage
exclude .markdownlint.json

global-exclude */__pycache__/*
global-exclude *.egg-info/*
global-exclude *.pkl
