include LICENSE README.md CHANGELOG.rst

graft krcg
graft rulings
graft twda_fix
prune tests
prune utils
exclude Makefile
exclude dark-pack.png
exclude .coverage
exclude .markdownlint.json

global-exclude */__pycache__/*
global-exclude *.egg-info/*
