include LICENSE README.md CHANGELOG.rst requirements.txt runtime.txt Procfile

graft src
graft schemas
graft templates
prune Makefile
prune tests
prune static
exclude bot-example.png

global-exclude *__pycache__*
global-exclude *.egg-info*
global-exclude *.pkl*
